In [5]:
import requests
# from sqlalchemy import create_engine
import pyodbc
import pandas as pd
# import os
import numpy as np

C:\Users\mipec\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (5.1.0)/charset_normalizer (2.0.10) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [2]:
df = pd.read_csv('./listaprzystanków.csv', index_col=0)
df = df.drop(columns = ['Przystanek'])
df.columns = ['nazwa']
df['numer'] = df['nazwa'].apply(lambda x: x.strip(" ").split(" ")[-1])
df['nazwa'] = df['nazwa'].apply(lambda x: x[:-5])
df

                     nazwa numer
1             11 LISTOPADA    01
2             11 LISTOPADA    02
3              17 STYCZNIA    01
4              17 STYCZNIA    02
5              17 STYCZNIA    04
...                    ...   ...
4889  ZYNDRAMA Z MASZKOWIC    02
4890         ŻÓŁKIEWSKIEGO    01
4891         ŻÓŁKIEWSKIEGO    02
4892         ŻÓŁKIEWSKIEGO    03
4893         ŻÓŁKIEWSKIEGO    04

[4893 rows x 2 columns]

In [99]:
def connect():
    # TODO: zamień na swoje :)))
    server = 'DESKTOP-V5DA5NT'
    database = 'HDiSBI_projekt'
    username = 'sa'
    password = 'mipecki123'
    connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

    # Nawiązanie połączenia do bazy danych
    conn = pyodbc.connect(connection_string)
    return(conn)


def check_for_table(conn, table_name, names):
    cursor = conn.cursor()
    names = [name.replace(" ", "_") for name in names]
    names = " varchar(255),\n".join(names) + " varchar(255)"
    # check if the table exists
    if cursor.tables(table=table_name, tableType='TABLE').fetchone():
        # query = f"DROP TABLE {table_name}"
        # cursor.execute(query)
        return
    # create the table if it does not exist
    query = f"CREATE TABLE {table_name} ({names})".format(
            names = names
        )

    print(query)
    cursor.execute(query)
    print(f"Table {table_name} created successfully.")

    # close the cursor and connection
    conn.commit()
    cursor.close()
    return


# TODO: kluczyk też możesz zmienić jeśli chcesz :))
apikey = '9e511e7a-be05-47fe-a578-34190f4bfe2c'

In [7]:
dictionaries = []
maksik = len(np.unique(df['nazwa']))
for i, nazwaprzystanku in enumerate(np.unique(df['nazwa'])):
    if i % int(maksik/10) == 0:
        print(f'we are at the {int(i*100/maksik)}th percentile')
    url1 = 'https://api.um.warszawa.pl/api/action/dbtimetable_get?id=b27f4c17-5c50-4a5b-89dd-236b282bc499&name=' + nazwaprzystanku + '&apikey=' + apikey


    ### dla url 1
    response = requests.get(url1)
    if response.status_code == 200:
    # Odpowiedź jest udana, można przetwarzać dane
        data = response.json()  # Jeśli odpowiedź jest w formacie JSON
    try:
        for i in range(len(data['result'])):
            dictionary = {}
            for j in range(len(data['result'][i]['values'])):
                # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
                c = data['result'][i]['values'][j]['key']
                v = data['result'][i]['values'][j]['value']
                dictionary[c] = v
            dictionaries.append(dictionary)
    except:
        continue
stopcode = pd.DataFrame(dictionaries)


conn = connect()
table_name = "Stopcode"
check_for_table(conn, table_name, stopcode.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in stopcode.iterrows():
    cursor.execute(f"INSERT INTO {table_name} (Zespol,Nazwa) values(?,?)",
                (row.zespol, row.nazwa))
conn.commit()
cursor.close()

we are at the 0.0th percentile
we are at the 0.5232862375719518th percentile
we are at the 1.0465724751439036th percentile
we are at the 1.5698587127158556th percentile
we are at the 2.0931449502878072th percentile
we are at the 2.6164311878597593th percentile
we are at the 3.1397174254317113th percentile
we are at the 3.663003663003663th percentile
we are at the 4.1862899005756145th percentile
we are at the 4.7095761381475665th percentile
we are at the 5.2328623757195185th percentile
we are at the 5.7561486132914705th percentile
we are at the 6.279434850863423th percentile
we are at the 6.802721088435374th percentile
we are at the 7.326007326007326th percentile
we are at the 7.849293563579278th percentile
we are at the 8.372579801151229th percentile
we are at the 8.895866038723181th percentile
we are at the 9.419152276295133th percentile
we are at the 9.942438513867085th percentile
we are at the 10.465724751439037th percentile
we are at the 10.989010989010989th percentile
we are at the 11.512297226582941th percentile
we are at the 12.035583464154893th percentile
we are at the 12.558869701726845th percentile
we are at the 13.082155939298797th percentile
we are at the 13.605442176870747th percentile
we are at the 14.1287284144427th percentile
we are at the 14.652014652014651th percentile
we are at the 15.175300889586604th percentile
we are at the 15.698587127158556th percentile
we are at the 16.22187336473051th percentile
we are at the 16.745159602302458th percentile
we are at the 17.26844583987441th percentile
we are at the 17.791732077446362th percentile
we are at the 18.315018315018314th percentile
we are at the 18.838304552590266th percentile
we are at the 19.361590790162218th percentile
we are at the 19.88487702773417th percentile
we are at the 20.408163265306122th percentile
we are at the 20.931449502878074th percentile
we are at the 21.454735740450026th percentile
we are at the 21.978021978021978th percentile
we are at the 22.50130821559393th percentile
we are at the 23.024594453165882th percentile
we are at the 23.547880690737834th percentile
we are at the 24.071166928309786th percentile
we are at the 24.59445316588174th percentile
we are at the 25.11773940345369th percentile
we are at the 25.641025641025642th percentile
we are at the 26.164311878597594th percentile
we are at the 26.687598116169546th percentile
we are at the 27.210884353741495th percentile
we are at the 27.734170591313447th percentile
we are at the 28.2574568288854th percentile
we are at the 28.78074306645735th percentile
we are at the 29.304029304029303th percentile
we are at the 29.827315541601255th percentile
we are at the 30.350601779173207th percentile
we are at the 30.87388801674516th percentile
we are at the 31.39717425431711th percentile
we are at the 31.920460491889063th percentile
we are at the 32.44374672946102th percentile
we are at the 32.967032967032964th percentile
we are at the 33.490319204604916th percentile
we are at the 34.01360544217687th percentile
we are at the 34.53689167974882th percentile
we are at the 35.06017791732077th percentile
we are at the 35.583464154892724th percentile
we are at the 36.106750392464676th percentile
we are at the 36.63003663003663th percentile
we are at the 37.15332286760858th percentile
we are at the 37.67660910518053th percentile
we are at the 38.199895342752484th percentile
we are at the 38.723181580324436th percentile
we are at the 39.24646781789639th percentile
we are at the 39.76975405546834th percentile
we are at the 40.29304029304029th percentile
we are at the 40.816326530612244th percentile
we are at the 41.339612768184196th percentile
we are at the 41.86289900575615th percentile
we are at the 42.3861852433281th percentile
we are at the 42.90947148090005th percentile
we are at the 43.432757718472004th percentile
we are at the 43.956043956043956th percentile
we are at the 44.47933019361591th percentile
we are at the 45.00261643118786th percentile
we are at the 45.52590266875981th percentile
we are at the 46.049188906331764th percentile
we are at the 46.572475143903716th percentile
we are at the 47.09576138147567th percentile
we are at the 47.61904761904762th percentile
we are at the 48.14233385661957th percentile
we are at the 48.665620094191524th percentile
we are at the 49.18890633176348th percentile
we are at the 49.71219256933543th percentile
we are at the 50.23547880690738th percentile
we are at the 50.75876504447933th percentile
we are at the 51.282051282051285th percentile
we are at the 51.80533751962324th percentile
we are at the 52.32862375719519th percentile
we are at the 52.85190999476714th percentile
we are at the 53.37519623233909th percentile
we are at the 53.898482469911045th percentile
we are at the 54.42176870748299th percentile
we are at the 54.94505494505494th percentile
we are at the 55.468341182626894th percentile
we are at the 55.991627420198846th percentile
we are at the 56.5149136577708th percentile
we are at the 57.03819989534275th percentile
we are at the 57.5614861329147th percentile
we are at the 58.084772370486654th percentile
we are at the 58.608058608058606th percentile
we are at the 59.13134484563056th percentile
we are at the 59.65463108320251th percentile
we are at the 60.17791732077446th percentile
we are at the 60.701203558346414th percentile
we are at the 61.224489795918366th percentile
we are at the 61.74777603349032th percentile
we are at the 62.27106227106227th percentile
we are at the 62.79434850863422th percentile
we are at the 63.317634746206174th percentile
we are at the 63.840920983778126th percentile
we are at the 64.36420722135009th percentile
we are at the 64.88749345892204th percentile
we are at the 65.41077969649398th percentile
we are at the 65.93406593406593th percentile
we are at the 66.45735217163788th percentile
we are at the 66.98063840920983th percentile
we are at the 67.50392464678178th percentile
we are at the 68.02721088435374th percentile
we are at the 68.55049712192569th percentile
we are at the 69.07378335949764th percentile
we are at the 69.59706959706959th percentile
we are at the 70.12035583464154th percentile
we are at the 70.6436420722135th percentile
we are at the 71.16692830978545th percentile
we are at the 71.6902145473574th percentile
we are at the 72.21350078492935th percentile
we are at the 72.7367870225013th percentile
we are at the 73.26007326007326th percentile
we are at the 73.78335949764521th percentile
we are at the 74.30664573521716th percentile
we are at the 74.82993197278911th percentile
we are at the 75.35321821036106th percentile
we are at the 75.87650444793302th percentile
we are at the 76.39979068550497th percentile
we are at the 76.92307692307692th percentile
we are at the 77.44636316064887th percentile
we are at the 77.96964939822082th percentile
we are at the 78.49293563579278th percentile
we are at the 79.01622187336473th percentile
we are at the 79.53950811093668th percentile
we are at the 80.06279434850863th percentile
we are at the 80.58608058608058th percentile
we are at the 81.10936682365254th percentile
we are at the 81.63265306122449th percentile
we are at the 82.15593929879644th percentile
we are at the 82.67922553636839th percentile
we are at the 83.20251177394034th percentile
we are at the 83.7257980115123th percentile
we are at the 84.24908424908425th percentile
we are at the 84.7723704866562th percentile
we are at the 85.29565672422815th percentile
we are at the 85.8189429618001th percentile
we are at the 86.34222919937206th percentile
we are at the 86.86551543694401th percentile
we are at the 87.38880167451596th percentile
we are at the 87.91208791208791th percentile
we are at the 88.43537414965986th percentile
we are at the 88.95866038723182th percentile
we are at the 89.48194662480377th percentile
we are at the 90.00523286237572th percentile
we are at the 90.52851909994767th percentile
we are at the 91.05180533751962th percentile
we are at the 91.57509157509158th percentile
we are at the 92.09837781266353th percentile
we are at the 92.62166405023548th percentile
we are at the 93.14495028780743th percentile
we are at the 93.66823652537938th percentile
we are at the 94.19152276295134th percentile
we are at the 94.71480900052329th percentile
we are at the 95.23809523809524th percentile
we are at the 95.76138147566719th percentile
we are at the 96.28466771323914th percentile
we are at the 96.8079539508111th percentile
we are at the 97.33124018838305th percentile
we are at the 97.854526425955th percentile
we are at the 98.37781266352695th percentile
we are at the 98.9010989010989th percentile
we are at the 99.42438513867086th percentile
we are at the 99.94767137624281th percentile
CREATE TABLE Stopcode (zespol varchar(255),
nazwa varchar(255))
Table Stopcode created successfully.

In [11]:
dictionaries = []
zespoly = list(stopcode['zespol'].unique())
k = 0.05
for i, zespol in enumerate(zespoly):
    name = list(stopcode[stopcode['zespol'] == zespol].nazwa)[0]

    if i > k * len(zespoly):
        print(f'{k*100}th centile')
        k += 0.05

    
    for busstopNr in list(df[df['nazwa'] == name.upper()].numer):
        
        url2 = 'https://api.um.warszawa.pl/api/action/dbtimetable_get?id=88cd555f-6f31-43ca-9de4-66c479ad5942&busstopId=' + zespol + '&busstopNr=' + busstopNr + '&apikey=' + apikey

        ### dla url 2
        response = requests.get(url2)
        if response.status_code == 200:
            # Odpowiedź jest udana, można przetwarzać dane
            data = response.json()  # Jeśli odpowiedź jest w formacie JSON
            # print(data)
        for i in range(len(data['result'])):
            dictionary = {"zespol" : zespol,
                        "stop nr" : busstopNr}
            for j in range(len(data['result'][i]['values'])):
                # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
                c = data['result'][i]['values'][j]['key']
                v = data['result'][i]['values'][j]['value']
                dictionary[c] = v
            dictionaries.append(dictionary)
stopinfo = pd.DataFrame(dictionaries)


conn = connect()
check_for_table(conn, table_name, stopinfo.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in stopinfo.iterrows():
    cursor.execute("INSERT INTO Stopinfo (zespol, stop_nr, linia) values(?,?,?)",
                    (row['zespol'], row['stop nr'], row.linia))
conn.commit()
cursor.close()
conn.close()

In [46]:
# tmp = stopinfo.merge(stopcode, how='inner', on = 'zespol')
# tmp
# dictionaries = []
# k=0.01

# # for i, row in tmp.iterrows():
# #     zespol = row.zespol
# #     slupek = row['stop nr']
# #     linia = row['linia']
# #     if i / len(tmp) > k:
# #         print(f"{k*100}th percentile")
# #         k+=0.01
# #     if type(slupek) == tuple:
# #         slupek = slupek[0]

# #     url3 = 'https://api.um.warszawa.pl/api/action/dbtimetable_get?id=e923fa0e-d96c-43f9-ae6e-60518c9f3238&busstopId=' + str(zespol) + '&busstopNr=' + slupek + '&line=' + str(linia) + '&apikey=' + apikey

# #     ### dla url 3
# #     response = requests.get(url3)
# #     if response.status_code == 200:
# #         # Odpowiedź jest udana, można przetwarzać dane
# #         data = response.json()  # Jeśli odpowiedź jest w formacie JSON
# #     dictionaries = []
# #     for i in range(len(data['result'])):
# #         dictionary = {'zespol' : zespol,
# #                     "slupek" : slupek,
# #                     'linia' : linia}
# #         for j in range(len(data['result'][i]['values'])):
# #             # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
# #             c = data['result'][i]['values'][j]['key']
# #             v = data['result'][i]['values'][j]['value']
# #             dictionary[c] = v
# #         dictionaries.append(dictionary)
# # schedule = pd.DataFrame(dictionaries)


# conn = connect()
# check_for_table(conn, 'Schedules', schedule.columns)
# cursor = conn.cursor()
# # Insert Dataframe into SQL Server:
# for index, row in schedule.iterrows():

#     cursor.execute("INSERT INTO Schedules (zespol, slupek, linia, symbol_2, symbol_1, brygada, kierunek, trasa, czas) values(?,?,?,?,?,?,?,?,?)",
#         (row['zespol'], row['slupek'], row.linia, row.symbol_2, row.symbol_1, row.brygada, row.kierunek, row.trasa, row.czas))
# cursor.close()
# conn.close()
# schedule

KeyboardInterrupt:

In [78]:
tmp = stopinfo.merge(stopcode, how='inner', on = 'zespol')
dictionaries = []
compare=0.01
for i, row in tmp.iterrows():
    if i/16494 > compare:
        print(f"{i} out of {16494} rows\nschedules is estimated to be of length {16494/i * len(dictionaries)}")
        compare+=0.01
    zespol = row.zespol
    slupek = row['stop nr']
    linia = row['linia']
    if type(slupek) == tuple:
        slupek = slupek[0]

    url3 = 'https://api.um.warszawa.pl/api/action/dbtimetable_get?id=e923fa0e-d96c-43f9-ae6e-60518c9f3238&busstopId=' + str(zespol) + '&busstopNr=' + slupek + '&line=' + str(linia) + '&apikey=' + apikey

    ### dla url 3
    response = requests.get(url3)
    if response.status_code == 200:
        # Odpowiedź jest udana, można przetwarzać dane
        data = response.json()  # Jeśli odpowiedź jest w formacie JSON
    for k in range(len(data['result'])):
        dictionary = {'zespol' : zespol,
                    "slupek" : slupek,
                    'linia' : linia}
        for j in range(len(data['result'][k]['values'])):
            # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
            c = data['result'][k]['values'][j]['key']
            v = data['result'][k]['values'][j]['value']
            dictionary[c] = v
        dictionaries.append(dictionary)
schedule = pd.DataFrame(dictionaries)

165 out of 16494 rows
schedules is estimated to be of length 669156.5818181819
330 out of 16494 rows
schedules is estimated to be of length 764471.9090909092
495 out of 16494 rows
schedules is estimated to be of length 755458.5212121212
660 out of 16494 rows
schedules is estimated to be of length 792336.7727272727
825 out of 16494 rows
schedules is estimated to be of length 811904.6545454545
990 out of 16494 rows
schedules is estimated to be of length 803307.7818181817
1155 out of 16494 rows
schedules is estimated to be of length 782415.3818181818
1320 out of 16494 rows
schedules is estimated to be of length 782715.2727272727
1485 out of 16494 rows
schedules is estimated to be of length 787902.2747474747
1650 out of 16494 rows
schedules is estimated to be of length 771659.2945454546
1815 out of 16494 rows
schedules is estimated to be of length 767511.7123966941
1980 out of 16494 rows
schedules is estimated to be of length 746111.9212121211
2145 out of 16494 rows
schedules is estimated to be of length 757270.6825174825
2310 out of 16494 rows
schedules is estimated to be of length 763015.2961038961
2475 out of 16494 rows
schedules is estimated to be of length 774438.2836363636
2640 out of 16494 rows
schedules is estimated to be of length 771050.765909091
2804 out of 16494 rows
schedules is estimated to be of length 768694.5171184023
2969 out of 16494 rows
schedules is estimated to be of length 766312.6844055237
3134 out of 16494 rows
schedules is estimated to be of length 764960.5634971283
3299 out of 16494 rows
schedules is estimated to be of length 769828.3267656865
3464 out of 16494 rows
schedules is estimated to be of length 759652.5017321017
3629 out of 16494 rows
schedules is estimated to be of length 755210.673463764
3794 out of 16494 rows
schedules is estimated to be of length 764088.6800210859
3959 out of 16494 rows
schedules is estimated to be of length 761711.16797171
4124 out of 16494 rows
schedules is estimated to be of length 764667.2793404461
4289 out of 16494 rows
schedules is estimated to be of length 762588.8799253906
4454 out of 16494 rows
schedules is estimated to be of length 762053.166142793
4619 out of 16494 rows
schedules is estimated to be of length 765323.0283611171
4784 out of 16494 rows
schedules is estimated to be of length 759061.8787625418
4949 out of 16494 rows
schedules is estimated to be of length 758420.7157001414
5114 out of 16494 rows
schedules is estimated to be of length 753834.4998044583
5279 out of 16494 rows
schedules is estimated to be of length 750066.1341163099
5444 out of 16494 rows
schedules is estimated to be of length 745799.0543717854
5608 out of 16494 rows
schedules is estimated to be of length 743735.8716119829
5773 out of 16494 rows
schedules is estimated to be of length 741347.1581500086
5938 out of 16494 rows
schedules is estimated to be of length 739857.8416975412
6103 out of 16494 rows
schedules is estimated to be of length 741438.1366541046
6268 out of 16494 rows
schedules is estimated to be of length 741282.6738991705
6433 out of 16494 rows
schedules is estimated to be of length 742463.3210010881
6598 out of 16494 rows
schedules is estimated to be of length 737685.2755380418
6763 out of 16494 rows
schedules is estimated to be of length 738808.2815318645
6928 out of 16494 rows
schedules is estimated to be of length 744153.6651270208
7093 out of 16494 rows
schedules is estimated to be of length 748422.5168475963
7258 out of 16494 rows
schedules is estimated to be of length 746154.6538991457
7423 out of 16494 rows
schedules is estimated to be of length 744347.5780681665
7588 out of 16494 rows
schedules is estimated to be of length 746694.7701634159
7753 out of 16494 rows
schedules is estimated to be of length 747688.9970334065
7918 out of 16494 rows
schedules is estimated to be of length 747860.624147512
8083 out of 16494 rows
schedules is estimated to be of length 749720.9654831127
8248 out of 16494 rows
schedules is estimated to be of length 747893.3132880698
8412 out of 16494 rows
schedules is estimated to be of length 748126.0363766048
8577 out of 16494 rows
schedules is estimated to be of length 751295.2577824414
8742 out of 16494 rows
schedules is estimated to be of length 745577.1008922443
8907 out of 16494 rows
schedules is estimated to be of length 745129.9218592119
9072 out of 16494 rows
schedules is estimated to be of length 742846.3432539682
9237 out of 16494 rows
schedules is estimated to be of length 744319.2042871062
9402 out of 16494 rows
schedules is estimated to be of length 746133.3343969368
9567 out of 16494 rows
schedules is estimated to be of length 750860.6014424585
9732 out of 16494 rows
schedules is estimated to be of length 754539.4864364981
9897 out of 16494 rows
schedules is estimated to be of length 753447.653228251
10062 out of 16494 rows
schedules is estimated to be of length 748026.3410852713
10227 out of 16494 rows
schedules is estimated to be of length 743604.0968025813
10392 out of 16494 rows
schedules is estimated to be of length 742261.7436489607
10557 out of 16494 rows
schedules is estimated to be of length 741155.0855356635
10722 out of 16494 rows
schedules is estimated to be of length 740647.055959709
10887 out of 16494 rows
schedules is estimated to be of length 739327.2256820061
11051 out of 16494 rows
schedules is estimated to be of length 741697.1651434259
11216 out of 16494 rows
schedules is estimated to be of length 743450.579529244
11381 out of 16494 rows
schedules is estimated to be of length 747848.7714612072
11546 out of 16494 rows
schedules is estimated to be of length 748062.7561060106
11711 out of 16494 rows
schedules is estimated to be of length 747724.2442148407
11876 out of 16494 rows
schedules is estimated to be of length 750436.723307511
12041 out of 16494 rows
schedules is estimated to be of length 748840.7502699111
12206 out of 16494 rows
schedules is estimated to be of length 747432.5151564805
12371 out of 16494 rows
schedules is estimated to be of length 745520.5336674481
12536 out of 16494 rows
schedules is estimated to be of length 745228.5502552649
12701 out of 16494 rows
schedules is estimated to be of length 745132.4557121486
12866 out of 16494 rows
schedules is estimated to be of length 745579.822944194
13031 out of 16494 rows
schedules is estimated to be of length 741504.7247333282
13196 out of 16494 rows
schedules is estimated to be of length 735907.883297969
13361 out of 16494 rows
schedules is estimated to be of length 730734.4436793653
13526 out of 16494 rows
schedules is estimated to be of length 729932.0560402188
13691 out of 16494 rows
schedules is estimated to be of length 729071.9057775182
13855 out of 16494 rows
schedules is estimated to be of length 731353.8409238541
14020 out of 16494 rows
schedules is estimated to be of length 729921.8524964337
14185 out of 16494 rows
schedules is estimated to be of length 729775.4893197039
14350 out of 16494 rows
schedules is estimated to be of length 725663.5873170733
14515 out of 16494 rows
schedules is estimated to be of length 721912.2101274544
14680 out of 16494 rows
schedules is estimated to be of length 718744.0271117166
14845 out of 16494 rows
schedules is estimated to be of length 719757.2722128662
15010 out of 16494 rows
schedules is estimated to be of length 720552.6423717522
15175 out of 16494 rows
schedules is estimated to be of length 718655.8078418452
15340 out of 16494 rows
schedules is estimated to be of length 717797.590482399
15505 out of 16494 rows
schedules is estimated to be of length 719833.0521767172
15670 out of 16494 rows
schedules is estimated to be of length 718915.2520740269
15835 out of 16494 rows
schedules is estimated to be of length 717922.8333438585
16000 out of 16494 rows
schedules is estimated to be of length 716537.502375
16165 out of 16494 rows
schedules is estimated to be of length 716008.9785338694
16330 out of 16494 rows
schedules is estimated to be of length 716718.3372933251

In [101]:
# TODO: tu też zamień na swoje
server = 'DESKTOP-V5DA5NT'
database = 'HDiSBI_projekt'
username = 'sa'
password = 'mipecki123'
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Nawiązanie połączenia do bazy danych
conn = pyodbc.connect(connection_string)

check_for_table(conn, 'Schedules', schedule.columns)
cursor = conn.cursor()
k=0.01
# Insert Dataframe into SQL Server:
for index, row in schedule.iterrows():
    if index/717139 >= k:
        k+=0.01
        print(f"{index} out of 717140")
    cursor.execute("INSERT INTO Schedules (zespol, slupek, linia, symbol_1, symbol_2, brygada, kierunek, trasa, czas) values(?,?,?,?,?,?,?,?,?)",
        (row['zespol'], row['slupek'], row.linia, row.symbol_1, row.symbol_2, row.brygada, row.kierunek, row.trasa, row.czas))
conn.commit()
cursor.close()
conn.close()
schedule

7172 out of 717140
14343 out of 717140
21515 out of 717140
28686 out of 717140
35857 out of 717140
43029 out of 717140
50200 out of 717140
57372 out of 717140
64543 out of 717140
71714 out of 717140
78886 out of 717140
86057 out of 717140
93229 out of 717140
100400 out of 717140
107571 out of 717140
114743 out of 717140
121914 out of 717140
129086 out of 717140
136257 out of 717140
143428 out of 717140
150600 out of 717140
157771 out of 717140
164942 out of 717140
172114 out of 717140
179285 out of 717140
186457 out of 717140
193628 out of 717140
200799 out of 717140
207971 out of 717140
215142 out of 717140
222314 out of 717140
229485 out of 717140
236656 out of 717140
243828 out of 717140
250999 out of 717140
258171 out of 717140
265342 out of 717140
272513 out of 717140
279685 out of 717140
286856 out of 717140
294027 out of 717140
301199 out of 717140
308370 out of 717140
315542 out of 717140
322713 out of 717140
329884 out of 717140
337056 out of 717140
344227 out of 717140
351399 out of 717140
358570 out of 717140
365741 out of 717140
372913 out of 717140
380084 out of 717140
387256 out of 717140
394427 out of 717140
401598 out of 717140
408770 out of 717140
415941 out of 717140
423113 out of 717140
430284 out of 717140
437455 out of 717140
444627 out of 717140
451798 out of 717140
458969 out of 717140
466141 out of 717140
473312 out of 717140
480484 out of 717140
487655 out of 717140
494826 out of 717140
501998 out of 717140
509169 out of 717140
516341 out of 717140
523512 out of 717140
530683 out of 717140
537855 out of 717140
545026 out of 717140
552198 out of 717140
559369 out of 717140
566540 out of 717140
573712 out of 717140
580883 out of 717140
588054 out of 717140
595226 out of 717140
602397 out of 717140
609569 out of 717140
616740 out of 717140
623911 out of 717140
631083 out of 717140
638254 out of 717140
645426 out of 717140
652597 out of 717140
659768 out of 717140
666940 out of 717140
674111 out of 717140
681283 out of 717140
688454 out of 717140
695625 out of 717140
702797 out of 717140
709968 out of 717140

,zespol,slupek,linia,symbol_2,symbol_1,brygada,kierunek,trasa,czas
0,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00
1,4009,01,154,null,null,4,rondo Zesłańców Syberyjskich,TP-RZS,04:57:00
2,4009,01,154,null,null,05,rondo Zesłańców Syberyjskich,TP-RZS,05:17:00
3,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,05:37:00
4,4009,01,154,null,null,06,rondo Zesłańców Syberyjskich,TP-RZS,05:57:00
...,...,...,...,...,...,...,...,...,...
717135,2012,04,24,null,null,9,Gocławek,TP-GCW,22:15:00
717136,2012,04,24,null,null,12,Gocławek,TP-GCW,22:35:00
717137,2012,04,24,null,null,2,Gocławek,TP-GCW,22:55:00
717138,2012,04,24,null,null,3,Gocławek,TP-GCW,23:16:00
717139,2012,04,24,null,null,5,Gocławek,TP-GCW,23:36:00

In [102]:
# aktualna pozycja pojazdów
dictionaries = []
for linia in tmp['linia'].unique():

    url = f"https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e927d-4ad3-9500-4ab9e55deb59&apikey={apikey}&type=1&line={linia}"
    response = requests.get(url)
    if response.status_code == 200:
        # Odpowiedź jest udana, można przetwarzać dane
        data = response.json()  # Jeśli odpowiedź jest w formacie JSON
        print(data)
    for i in range(len(data['result'])):
        dictionary = {"linia" : linia}
        # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
        for c, v in data['result'][i].items():
            dictionary[c] = v
        dictionaries.append(dictionary)


currentposition = pd.DataFrame(dictionaries)
currentposition

{'result': [{'Lines': '154', 'Lon': 20.92092, 'VehicleNumber': '4222', 'Time': '2023-05-15 22:10:36', 'Lat': 52.1967506, 'Brigade': '3'}]}
{'result': [{'Lines': '228', 'Lon': 20.920278, 'VehicleNumber': '1053', 'Time': '2023-05-15 22:37:36', 'Lat': 52.196841, 'Brigade': '2'}, {'Lines': '228', 'Lon': 20.921331, 'VehicleNumber': '1056', 'Time': '2023-05-15 23:05:09', 'Lat': 52.196923, 'Brigade': '3'}, {'Lines': '228', 'Lon': 20.918503, 'VehicleNumber': '1059', 'Time': '2023-05-15 23:41:11', 'Lat': 52.196801, 'Brigade': '1'}]}
{'result': [{'Lines': '328', 'Lon': 20.9951692, 'VehicleNumber': '1029', 'Time': '2023-05-15 20:50:30', 'Lat': 52.1883549, 'Brigade': '03'}, {'Lines': '328', 'Lon': 20.91863, 'VehicleNumber': '1050', 'Time': '2023-05-15 22:30:27', 'Lat': 52.196795, 'Brigade': '01'}, {'Lines': '328', 'Lon': 20.921203, 'VehicleNumber': '1051', 'Time': '2023-05-15 23:03:20', 'Lat': 52.196914, 'Brigade': '02'}]}
{'result': [{'Lines': 'N38', 'Lon': 20.9585667, 'VehicleNumber': '4337', 'Time': '2023-05-16 02:28:15', 'Lat': 52.1909587, 'Brigade': '277'}]}
{'result': [{'Lines': 'N88', 'Lon': 20.973167, 'VehicleNumber': '4201', 'Time': '2023-05-16 02:28:14', 'Lat': 52.206879, 'Brigade': '209'}, {'Lines': 'N88', 'Lon': 20.894505, 'VehicleNumber': '4237', 'Time': '2023-05-16 02:28:15', 'Lat': 52.132534, 'Brigade': '276'}]}
{'result': []}
{'result': [{'Lines': '169', 'Lon': 21.044489, 'VehicleNumber': '1540', 'Time': '2023-05-15 23:19:59', 'Lat': 52.264921, 'Brigade': '1'}, {'Lines': '169', 'Lon': 21.0427783, 'VehicleNumber': '1543', 'Time': '2023-05-16 00:31:53', 'Lat': 52.2663333, 'Brigade': '2'}, {'Lines': '169', 'Lon': 21.0440975, 'VehicleNumber': '4409', 'Time': '2023-05-16 00:26:08', 'Lat': 52.2654312, 'Brigade': '5'}]}
{'result': []}
{'result': [{'Lines': 'N14', 'Lon': 21.0289175, 'VehicleNumber': '1802', 'Time': '2023-05-16 02:28:10', 'Lat': 52.300727, 'Brigade': '1'}, {'Lines': 'N14', 'Lon': 21.035456, 'VehicleNumber': '9416', 'Time': '2023-05-16 02:28:13', 'Lat': 52.254345, 'Brigade': '124'}]}
{'result': [{'Lines': 'N64', 'Lon': 20.99999, 'VehicleNumber': '9420', 'Time': '2023-05-16 02:28:15', 'Lat': 52.229671, 'Brigade': '1'}, {'Lines': 'N64', 'Lon': 21.009741, 'VehicleNumber': '9448', 'Time': '2023-05-16 02:28:13', 'Lat': 52.30315, 'Brigade': '2'}]}
{'result': [{'Lines': 'L27', 'Lon': 21.1805441, 'VehicleNumber': '80106', 'Time': '2023-05-15 19:58:37', 'Lat': 52.421893, 'Brigade': '1'}]}
{'result': [{'Lines': 'L43', 'Lon': 21.1755661, 'VehicleNumber': '80123', 'Time': '2023-05-15 18:52:27', 'Lat': 52.3107309, 'Brigade': '053'}]}
{'result': []}
{'result': [{'Lines': '150', 'Lon': 20.864342167, 'VehicleNumber': '772', 'Time': '2023-05-15 18:51:15', 'Lat': 52.359997167, 'Brigade': '07'}, {'Lines': '150', 'Lon': 20.864197833, 'VehicleNumber': '773', 'Time': '2023-05-15 18:18:22', 'Lat': 52.359711667, 'Brigade': '010'}]}
{'result': [{'Lines': '750', 'Lon': 20.864828, 'VehicleNumber': '763', 'Time': '2023-05-15 21:32:39', 'Lat': 52.360218, 'Brigade': ' '}]}
{'result': []}
{'result': [{'Lines': 'N56', 'Lon': 20.928207, 'VehicleNumber': '748', 'Time': '2023-05-16 02:28:14', 'Lat': 52.290825, 'Brigade': '1'}]}
{'result': [{'Lines': '723', 'Lon': 21.047468, 'VehicleNumber': '5411', 'Time': '2023-05-15 23:44:02', 'Lat': 52.263336, 'Brigade': '63'}, {'Lines': '723', 'Lon': 21.0442436, 'VehicleNumber': '5413', 'Time': '2023-05-15 19:46:53', 'Lat': 52.2656499, 'Brigade': '071'}, {'Lines': '723', 'Lon': 21.0434619, 'VehicleNumber': '5422', 'Time': '2023-05-16 01:06:41', 'Lat': 52.2654227, 'Brigade': '68'}, {'Lines': '723', 'Lon': 21.046938, 'VehicleNumber': '8464', 'Time': '2023-05-16 00:43:32', 'Lat': 52.264885, 'Brigade': '67'}, {'Lines': '723', 'Lon': 21.04651, 'VehicleNumber': '8584', 'Time': '2023-05-15 18:26:11', 'Lat': 52.264828, 'Brigade': '01'}, {'Lines': '723', 'Lon': 21.0473688, 'VehicleNumber': '8821', 'Time': '2023-05-15 21:33:12', 'Lat': 52.2647523, 'Brigade': '62'}]}
{'result': [{'Lines': '736', 'Lon': 21.046146, 'VehicleNumber': '1537', 'Time': '2023-05-15 21:14:14', 'Lat': 52.26474, 'Brigade': '2'}]}
{'result': [{'Lines': 'L-8', 'Lon': 21.1584388, 'VehicleNumber': '10071', 'Time': '2023-05-16 00:22:01', 'Lat': 52.4321515, 'Brigade': '1'}]}
{'result': [{'Lines': 'N63', 'Lon': 20.973814, 'VehicleNumber': '1220', 'Time': '2023-05-16 02:28:15', 'Lat': 52.271084, 'Brigade': '246'}, {'Lines': 'N63', 'Lon': 20.8849629, 'VehicleNumber': '1222', 'Time': '2023-05-16 02:28:15', 'Lat': 52.4113126, 'Brigade': '149'}, {'Lines': 'N63', 'Lon': 20.9827169, 'VehicleNumber': '7702', 'Time': '2023-05-16 02:28:15', 'Lat': 52.2552294, 'Brigade': '252'}]}
{'result': [{'Lines': 'L20', 'Lon': 21.4834645, 'VehicleNumber': '25181', 'Time': '2023-05-15 19:23:15', 'Lat': 52.1321335, 'Brigade': '2'}, {'Lines': 'L20', 'Lon': 21.483508, 'VehicleNumber': '25183', 'Time': '2023-05-16 00:27:57', 'Lat': 52.1320276, 'Brigade': '1'}, {'Lines': 'L20', 'Lon': 21.483511, 'VehicleNumber': '25187', 'Time': '2023-05-15 17:28:33', 'Lat': 52.1322353, 'Brigade': '03'}]}
{'result': [{'Lines': 'L50', 'Lon': 21.4026365, 'VehicleNumber': '20171', 'Time': '2023-05-15 23:02:23', 'Lat': 52.2013871, 'Brigade': '1'}, {'Lines': 'L50', 'Lon': 21.4027401, 'VehicleNumber': '20172', 'Time': '2023-05-15 18:10:46', 'Lat': 52.2015161, 'Brigade': '2'}, {'Lines': 'L50', 'Lon': 21.4026973, 'VehicleNumber': '20173', 'Time': '2023-05-15 18:36:53', 'Lat': 52.2014326, 'Brigade': '03'}]}
{'result': []}
{'result': [{'Lines': '713', 'Lon': 20.919889, 'VehicleNumber': '2253', 'Time': '2023-05-15 20:14:07', 'Lat': 52.196566, 'Brigade': '04'}, {'Lines': '713', 'Lon': 20.9220135, 'VehicleNumber': '5211', 'Time': '2023-05-15 21:30:44', 'Lat': 52.1957804, 'Brigade': '05'}, {'Lines': '713', 'Lon': 20.922181, 'VehicleNumber': '5215', 'Time': '2023-05-15 23:34:19', 'Lat': 52.195833, 'Brigade': '2'}, {'Lines': '713', 'Lon': 20.921267, 'VehicleNumber': '7214', 'Time': '2023-05-15 21:49:40', 'Lat': 52.195831, 'Brigade': '3'}]}
{'result': [{'Lines': '743', 'Lon': 20.921288, 'VehicleNumber': '4200', 'Time': '2023-05-15 23:39:50', 'Lat': 52.19669, 'Brigade': '05'}]}
{'result': []}
{'result': []}
{'result': [{'Lines': '147', 'Lon': 21.1154316, 'VehicleNumber': '1830', 'Time': '2023-05-16 00:36:22', 'Lat': 52.2331741, 'Brigade': '1'}, {'Lines': '147', 'Lon': 21.078115, 'VehicleNumber': '9302', 'Time': '2023-05-15 20:34:20', 'Lat': 52.268497, 'Brigade': '010'}]}
{'result': [{'Lines': '411', 'Lon': 21.117022, 'VehicleNumber': '7330', 'Time': '2023-05-15 18:42:59', 'Lat': 52.233429, 'Brigade': '02'}, {'Lines': '411', 'Lon': 21.11717, 'VehicleNumber': '7800', 'Time': '2023-05-15 19:12:43', 'Lat': 52.23328, 'Brigade': '04'}, {'Lines': '411', 'Lon': 21.117113, 'VehicleNumber': '8353', 'Time': '2023-05-15 18:57:40', 'Lat': 52.233604, 'Brigade': '03'}]}
{'result': [{'Lines': '507', 'Lon': 21.1152921, 'VehicleNumber': '7309', 'Time': '2023-05-15 22:43:26', 'Lat': 52.2338715, 'Brigade': '5'}, {'Lines': '507', 'Lon': 21.115316, 'VehicleNumber': '7311', 'Time': '2023-05-15 22:16:07', 'Lat': 52.2336855, 'Brigade': '7'}, {'Lines': '507', 'Lon': 21.115051, 'VehicleNumber': '7314', 'Time': '2023-05-15 22:58:54', 'Lat': 52.233901, 'Brigade': '8'}, {'Lines': '507', 'Lon': 21.1174364, 'VehicleNumber': '7316', 'Time': '2023-05-15 18:24:56', 'Lat': 52.2333199, 'Brigade': '010'}, {'Lines': '507', 'Lon': 21.115911, 'VehicleNumber': '7811', 'Time': '2023-05-15 22:10:34', 'Lat': 52.233449, 'Brigade': '1'}, {'Lines': '507', 'Lon': 21.1174985, 'VehicleNumber': '7849', 'Time': '2023-05-15 19:38:23', 'Lat': 52.2332897, 'Brigade': '012'}, {'Lines': '507', 'Lon': 21.116773, 'VehicleNumber': '8364', 'Time': '2023-05-16 00:22:55', 'Lat': 52.234254, 'Brigade': '2'}, {'Lines': '507', 'Lon': 21.115036, 'VehicleNumber': '8369', 'Time': '2023-05-15 23:23:10', 'Lat': 52.233499, 'Brigade': '4'}, {'Lines': '507', 'Lon': 21.117465, 'VehicleNumber': '8576', 'Time': '2023-05-15 18:16:37', 'Lat': 52.2336617, 'Brigade': '09'}]}
{'result': [{'Lines': '509', 'Lon': 21.0433166, 'VehicleNumber': '3414', 'Time': '2023-05-16 00:17:35', 'Lat': 52.2661083, 'Brigade': '4'}, {'Lines': '509', 'Lon': 21.0477075, 'VehicleNumber': '3416', 'Time': '2023-05-15 22:42:33', 'Lat': 52.2646733, 'Brigade': '5'}, {'Lines': '509', 'Lon': 21.0478106, 'VehicleNumber': '3434', 'Time': '2023-05-16 01:16:31', 'Lat': 52.2640402, 'Brigade': '2'}, {'Lines': '509', 'Lon': 21.045453, 'VehicleNumber': '5409', 'Time': '2023-05-15 22:41:41', 'Lat': 52.265129, 'Brigade': '1'}, {'Lines': '509', 'Lon': 21.1166359, 'VehicleNumber': '7319', 'Time': '2023-05-16 00:30:49', 'Lat': 52.2336525, 'Brigade': '7'}, {'Lines': '509', 'Lon': 21.117748, 'VehicleNumber': '7322', 'Time': '2023-05-15 23:32:46', 'Lat': 52.233467, 'Brigade': '6'}, {'Lines': '509', 'Lon': 21.11683, 'VehicleNumber': '7822', 'Time': '2023-05-15 22:45:27', 'Lat': 52.23328, 'Brigade': '15'}, {'Lines': '509', 'Lon': 21.043733, 'VehicleNumber': '8592', 'Time': '2023-05-15 21:38:09', 'Lat': 52.265688, 'Brigade': '11'}, {'Lines': '509', 'Lon': 21.046981, 'VehicleNumber': '8814', 'Time': '2023-05-15 20:06:14', 'Lat': 52.264888, 'Brigade': '021'}, {'Lines': '509', 'Lon': 21.116816, 'VehicleNumber': '8846', 'Time': '2023-05-15 19:30:10', 'Lat': 52.233544, 'Brigade': '024'}, {'Lines': '509', 'Lon': 21.0467006, 'VehicleNumber': '8866', 'Time': '2023-05-15 19:28:36', 'Lat': 52.2649648, 'Brigade': '020'}, {'Lines': '509', 'Lon': 21.0436383, 'VehicleNumber': '8873', 'Time': '2023-05-15 23:39:26', 'Lat': 52.26598, 'Brigade': '12'}]}
{'result': [{'Lines': 'E-1', 'Lon': 21.116903, 'VehicleNumber': '7305', 'Time': '2023-05-15 18:44:50', 'Lat': 52.233421, 'Brigade': '03'}, {'Lines': 'E-1', 'Lon': 21.1164211, 'VehicleNumber': '7808', 'Time': '2023-05-15 19:12:49', 'Lat': 52.2334538, 'Brigade': '04'}, {'Lines': 'E-1', 'Lon': 21.1165484, 'VehicleNumber': '7810', 'Time': '2023-05-15 19:18:49', 'Lat': 52.2334569, 'Brigade': '05'}, {'Lines': 'E-1', 'Lon': 21.1173237, 'VehicleNumber': '7832', 'Time': '2023-05-15 19:03:08', 'Lat': 52.2336695, 'Brigade': '02'}]}
{'result': [{'Lines': 'N02', 'Lon': 20.9307433, 'VehicleNumber': '1552', 'Time': '2023-05-16 02:27:59', 'Lat': 52.2913333, 'Brigade': '3'}, {'Lines': 'N02', 'Lon': 20.9248287, 'VehicleNumber': '4414', 'Time': '2023-05-16 02:28:15', 'Lat': 52.2732454, 'Brigade': '2'}, {'Lines': 'N02', 'Lon': 21.09626, 'VehicleNumber': '9072', 'Time': '2023-05-16 02:26:33', 'Lat': 52.232037, 'Brigade': '6'}, {'Lines': 'N02', 'Lon': 21.098051, 'VehicleNumber': '9078', 'Time': '2023-05-16 02:28:09', 'Lat': 52.234783, 'Brigade': '5'}, {'Lines': 'N02', 'Lon': 21.060151, 'VehicleNumber': '9211', 'Time': '2023-05-16 02:28:11', 'Lat': 52.268596, 'Brigade': '1'}, {'Lines': 'N02', 'Lon': 21.046731, 'VehicleNumber': '9225', 'Time': '2023-05-16 02:28:00', 'Lat': 52.28241, 'Brigade': '4'}]}
{'result': [{'Lines': '111', 'Lon': 21.117041, 'VehicleNumber': '5906', 'Time': '2023-05-15 17:58:11', 'Lat': 52.233983, 'Brigade': '013'}, {'Lines': '111', 'Lon': 21.116888, 'VehicleNumber': '5910', 'Time': '2023-05-15 21:32:48', 'Lat': 52.234031, 'Brigade': '8'}, {'Lines': '111', 'Lon': 21.116438, 'VehicleNumber': '5919', 'Time': '2023-05-15 19:08:22', 'Lat': 52.233938, 'Brigade': '7'}, {'Lines': '111', 'Lon': 21.116443, 'VehicleNumber': '5922', 'Time': '2023-05-16 00:10:14', 'Lat': 52.234034, 'Brigade': '4'}, {'Lines': '111', 'Lon': 21.047951, 'VehicleNumber': '5953', 'Time': '2023-05-15 22:51:59', 'Lat': 52.264981, 'Brigade': '1'}, {'Lines': '111', 'Lon': 21.046866, 'VehicleNumber': '5966', 'Time': '2023-05-16 00:26:38', 'Lat': 52.265293, 'Brigade': '9'}, {'Lines': '111', 'Lon': 21.046396, 'VehicleNumber': '5967', 'Time': '2023-05-15 19:42:54', 'Lat': 52.265385, 'Brigade': '011'}, {'Lines': '111', 'Lon': 21.044466, 'VehicleNumber': '5980', 'Time': '2023-05-15 23:57:31', 'Lat': 52.265718, 'Brigade': '6'}, {'Lines': '111', 'Lon': 21.0460397, 'VehicleNumber': '5982', 'Time': '2023-05-16 00:45:37', 'Lat': 52.2654607, 'Brigade': '3'}]}
{'result': [{'Lines': '117', 'Lon': 21.046327, 'VehicleNumber': '1814', 'Time': '2023-05-15 19:44:34', 'Lat': 52.264595, 'Brigade': '06'}, {'Lines': '117', 'Lon': 21.1165068, 'VehicleNumber': '1838', 'Time': '2023-05-15 23:51:53', 'Lat': 52.2330478, 'Brigade': '4'}, {'Lines': '117', 'Lon': 21.115793, 'VehicleNumber': '1842', 'Time': '2023-05-15 23:03:15', 'Lat': 52.233086, 'Brigade': '2'}, {'Lines': '117', 'Lon': 21.1169825, 'VehicleNumber': '1859', 'Time': '2023-05-15 20:01:03', 'Lat': 52.233068, 'Brigade': '1'}]}
{'result': [{'Lines': '123', 'Lon': 21.0465218, 'VehicleNumber': '1106', 'Time': '2023-05-16 00:20:48', 'Lat': 52.2640621, 'Brigade': '4'}, {'Lines': '123', 'Lon': 21.045594, 'VehicleNumber': '1116', 'Time': '2023-05-15 20:01:06', 'Lat': 52.264421, 'Brigade': '09'}, {'Lines': '123', 'Lon': 21.042989, 'VehicleNumber': '1807', 'Time': '2023-05-15 23:27:17', 'Lat': 52.266178, 'Brigade': '3'}, {'Lines': '123', 'Lon': 21.043279, 'VehicleNumber': '1811', 'Time': '2023-05-15 20:36:50', 'Lat': 52.266123, 'Brigade': '08'}]}
{'result': [{'Lines': 'N22', 'Lon': 21.2105717, 'VehicleNumber': '8347', 'Time': '2023-05-16 02:28:09', 'Lat': 52.1617033, 'Brigade': '203'}, {'Lines': 'N22', 'Lon': 21.00158, 'VehicleNumber': '8567', 'Time': '2023-05-16 02:28:07', 'Lat': 52.228595, 'Brigade': '204'}]}
{'result': [{'Lines': 'N72', 'Lon': 21.139755, 'VehicleNumber': '1425', 'Time': '2023-05-16 02:28:15', 'Lat': 52.191387, 'Brigade': '215'}, {'Lines': 'N72', 'Lon': 21.06714, 'VehicleNumber': '1521', 'Time': '2023-05-16 02:28:02', 'Lat': 52.2259533, 'Brigade': '219'}, {'Lines': 'N72', 'Lon': 21.2510833, 'VehicleNumber': '8351', 'Time': '2023-05-16 02:28:12', 'Lat': 52.0763017, 'Brigade': '214'}]}
{'result': [{'Lines': '311', 'Lon': 21.115536, 'VehicleNumber': '1002', 'Time': '2023-05-15 09:02:09', 'Lat': 52.234593, 'Brigade': '05'}, {'Lines': '311', 'Lon': 21.115681, 'VehicleNumber': '1003', 'Time': '2023-05-15 17:55:44', 'Lat': 52.234535, 'Brigade': '05'}, {'Lines': '311', 'Lon': 21.1155, 'VehicleNumber': '1009', 'Time': '2023-05-15 20:27:10', 'Lat': 52.234574, 'Brigade': '04'}, {'Lines': '311', 'Lon': 21.115196, 'VehicleNumber': '1013', 'Time': '2023-05-15 21:34:14', 'Lat': 52.234638, 'Brigade': '06'}]}
{'result': [{'Lines': '187', 'Lon': 20.922336, 'VehicleNumber': '2208', 'Time': '2023-05-15 23:35:48', 'Lat': 52.195696, 'Brigade': '5'}, {'Lines': '187', 'Lon': 20.9224007, 'VehicleNumber': '5223', 'Time': '2023-05-15 22:42:44', 'Lat': 52.1956247, 'Brigade': '1'}, {'Lines': '187', 'Lon': 20.921011, 'VehicleNumber': '7255', 'Time': '2023-05-15 21:44:01', 'Lat': 52.197319, 'Brigade': '9'}, {'Lines': '187', 'Lon': 21.116963, 'VehicleNumber': '7318', 'Time': '2023-05-16 00:33:26', 'Lat': 52.234258, 'Brigade': '3'}, {'Lines': '187', 'Lon': 21.117096, 'VehicleNumber': '7742', 'Time': '2023-05-15 23:53:17', 'Lat': 52.2342, 'Brigade': '2'}]}
{'result': [{'Lines': '191', 'Lon': 20.921388, 'VehicleNumber': '2215', 'Time': '2023-05-15 20:03:44', 'Lat': 52.196416, 'Brigade': '011'}, {'Lines': '191', 'Lon': 20.920586, 'VehicleNumber': '5240', 'Time': '2023-05-15 23:54:17', 'Lat': 52.196395, 'Brigade': '10'}, {'Lines': '191', 'Lon': 20.922353, 'VehicleNumber': '6224', 'Time': '2023-05-15 23:38:23', 'Lat': 52.196136, 'Brigade': '5'}, {'Lines': '191', 'Lon': 20.920994, 'VehicleNumber': '7248', 'Time': '2023-05-15 22:29:29', 'Lat': 52.195953, 'Brigade': '9'}, {'Lines': '191', 'Lon': 20.9208664, 'VehicleNumber': '7251', 'Time': '2023-05-15 22:55:11', 'Lat': 52.1959174, 'Brigade': '2'}]}
{'result': []}
{'result': [{'Lines': '401', 'Lon': 20.919039, 'VehicleNumber': '2231', 'Time': '2023-05-15 19:20:04', 'Lat': 52.196751, 'Brigade': '016'}, {'Lines': '401', 'Lon': 20.921096, 'VehicleNumber': '5229', 'Time': '2023-05-15 23:36:08', 'Lat': 52.1963, 'Brigade': '7'}, {'Lines': '401', 'Lon': 20.920696, 'VehicleNumber': '7232', 'Time': '2023-05-15 20:13:34', 'Lat': 52.196957, 'Brigade': '012'}, {'Lines': '401', 'Lon': 20.9203519, 'VehicleNumber': '7253', 'Time': '2023-05-16 00:12:12', 'Lat': 52.1961184, 'Brigade': '2'}, {'Lines': '401', 'Lon': 20.997991, 'VehicleNumber': '8307', 'Time': '2023-05-15 21:26:28', 'Lat': 52.187436, 'Brigade': '1'}]}
{'result': [{'Lines': '517', 'Lon': 20.921251, 'VehicleNumber': '5237', 'Time': '2023-05-15 19:06:36', 'Lat': 52.196528, 'Brigade': '010'}, {'Lines': '517', 'Lon': 20.921943, 'VehicleNumber': '5257', 'Time': '2023-05-15 22:30:12', 'Lat': 52.196114, 'Brigade': '3'}, {'Lines': '517', 'Lon': 20.920549, 'VehicleNumber': '7257', 'Time': '2023-05-15 23:31:29', 'Lat': 52.196083, 'Brigade': '1'}]}
{'result': [{'Lines': 'N35', 'Lon': 20.9959007, 'VehicleNumber': '2014', 'Time': '2023-05-16 01:55:37', 'Lat': 52.1881802, 'Brigade': '335'}, {'Lines': 'N35', 'Lon': 20.947334, 'VehicleNumber': '7226', 'Time': '2023-05-16 02:28:25', 'Lat': 52.208851, 'Brigade': '236'}, {'Lines': 'N35', 'Lon': 21.0019513, 'VehicleNumber': '8328', 'Time': '2023-05-16 02:28:25', 'Lat': 52.2274961, 'Brigade': '139'}]}
{'result': [{'Lines': 'N85', 'Lon': 20.88287, 'VehicleNumber': '7211', 'Time': '2023-05-16 02:28:24', 'Lat': 52.197182, 'Brigade': '237'}, {'Lines': 'N85', 'Lon': 20.8409825, 'VehicleNumber': '7216', 'Time': '2023-05-16 02:28:24', 'Lat': 52.192186, 'Brigade': '238'}]}
{'result': [{'Lines': '739', 'Lon': 20.995531, 'VehicleNumber': '1212', 'Time': '2023-05-15 20:38:22', 'Lat': 52.188072, 'Brigade': '010'}, {'Lines': '739', 'Lon': 21.0374479, 'VehicleNumber': '9326', 'Time': '2023-05-15 16:41:49', 'Lat': 52.0935357, 'Brigade': '3'}]}
{'result': [{'Lines': '108', 'Lon': 20.9973112, 'VehicleNumber': '1030', 'Time': '2023-05-15 22:13:17', 'Lat': 52.1857187, 'Brigade': '1'}, {'Lines': '108', 'Lon': 20.9956015, 'VehicleNumber': '1070', 'Time': '2023-05-16 01:22:57', 'Lat': 52.1882231, 'Brigade': '2'}, {'Lines': '108', 'Lon': 20.9955701, 'VehicleNumber': '1075', 'Time': '2023-05-15 22:15:02', 'Lat': 52.1879384, 'Brigade': '3'}]}
{'result': [{'Lines': '162', 'Lon': 21.0429189, 'VehicleNumber': '5448', 'Time': '2023-05-15 23:48:22', 'Lat': 52.2657874, 'Brigade': '6'}, {'Lines': '162', 'Lon': 21.117744, 'VehicleNumber': '8359', 'Time': '2023-05-16 00:32:27', 'Lat': 52.233823, 'Brigade': '4'}, {'Lines': '162', 'Lon': 20.996373, 'VehicleNumber': '8514', 'Time': '2023-05-15 19:06:13', 'Lat': 52.187674, 'Brigade': '013'}, {'Lines': '162', 'Lon': 20.998071, 'VehicleNumber': '8800', 'Time': '2023-05-15 23:08:29', 'Lat': 52.187658, 'Brigade': '5'}, {'Lines': '162', 'Lon': 21.04409, 'VehicleNumber': '8867', 'Time': '2023-05-16 00:15:30', 'Lat': 52.265541, 'Brigade': '1'}, {'Lines': '162', 'Lon': 20.9963966, 'VehicleNumber': '8888', 'Time': '2023-05-15 20:15:17', 'Lat': 52.1875888, 'Brigade': '08'}]}
{'result': []}
{'result': []}
{'result': [{'Lines': 'L-7', 'Lon': 20.9278644, 'VehicleNumber': '60058', 'Time': '2023-05-15 18:03:12', 'Lat': 52.2702598, 'Brigade': '2'}]}
{'result': [{'Lines': 'N91', 'Lon': 20.977819, 'VehicleNumber': '9440', 'Time': '2023-05-16 02:28:25', 'Lat': 52.244377, 'Brigade': '183'}]}
{'result': [{'Lines': '118', 'Lon': 21.046311, 'VehicleNumber': '1117', 'Time': '2023-05-15 19:36:00', 'Lat': 52.264685, 'Brigade': '05'}, {'Lines': '118', 'Lon': 21.042884, 'VehicleNumber': '1513', 'Time': '2023-05-15 23:54:36', 'Lat': 52.266183, 'Brigade': '2'}, {'Lines': '118', 'Lon': 21.042626, 'VehicleNumber': '1856', 'Time': '2023-05-15 23:27:10', 'Lat': 52.266008, 'Brigade': '3'}]}

,linia,Lines,Lon,VehicleNumber,Time,Lat,Brigade
0,154,154,20.920920,4222,2023-05-15 22:10:36,52.196751,3
1,228,228,20.920278,1053,2023-05-15 22:37:36,52.196841,2
2,228,228,20.921331,1056,2023-05-15 23:05:09,52.196923,3
3,228,228,20.918503,1059,2023-05-15 23:41:11,52.196801,1
4,328,328,20.995169,1029,2023-05-15 20:50:30,52.188355,03
...,...,...,...,...,...,...,...
773,L29,L29,20.499007,60055,2023-05-15 23:48:52,52.261019,1
774,L15,L15,21.034847,10074,2023-05-15 20:13:26,52.083645,52
775,L21,L21,21.190642,70032,2023-05-15 20:34:02,51.987455,1
776,L28,L28,21.126193,70043,2023-05-15 20:25:24,52.022716,51
777,L51,L51,21.243935,25182,2023-05-16 00:49:42,52.082735,1

In [103]:
conn = connect()
currentposition = currentposition.drop(columns=['Lines'])
check_for_table(conn, 'CurrentPosition', currentposition.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in currentposition.iterrows():
    cursor.execute("INSERT INTO CurrentPosition (linia, Lon, Lat, VehicleNumber, Brigade, Time) values(?,?,?,?,?,?)",
        (row['linia'], row['Lon'], row.Lat, row.VehicleNumber, row.Brigade, row.Time))
conn.commit()
cursor.close()
conn.close()

CREATE TABLE CurrentPosition (linia varchar(255),
Lon varchar(255),
VehicleNumber varchar(255),
Time varchar(255),
Lat varchar(255),
Brigade varchar(255))
Table CurrentPosition created successfully.

In [104]:
# trasy pojazdów routes

url = f"https://api.um.warszawa.pl/api/action/public_transport_routes/?apikey={apikey}"
dictionaries = []

response = requests.get(url)
if response.status_code == 200:
    # Odpowiedź jest udana, można przetwarzać dane
    data = response.json()  # Jeśli odpowiedź jest w formacie JSON
    for linia in data['result'].keys():
        for key in data['result'][linia].keys():
            for key2 in  data['result'][linia][key].keys():
                dictionary = {'linia' : linia,
                              'kod' : key,
                              'nr przystanku na trasie' : key2}
                
                for c, v in data['result'][linia][key][key2].items():
                    dictionary[c] = v
                dictionaries.append(dictionary)
    # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])  
routes = pd.DataFrame(dictionaries)
routes = routes.rename(columns={'nr przystanku na trasie' : 'enroute_nr'})
routes

,linia,kod,nr przystanku na trasie,odleglosc,ulica_id,nr_zespolu,typ,nr_przystanku
0,217,TX-MIM,11,4387,0150,3354,1,51
1,217,TX-MIM,10,3887,0150,3353,1,01
2,217,TX-MIM,13,5396,0271,3468,1,02
3,217,TX-MIM,12,4941,0271,3385,1,04
4,217,TX-MIM,15,6690,0317,3143,1,04
...,...,...,...,...,...,...,...,...
52930,N43,TP-DWC,18,7689,0118,5028,2,03
52931,N43,TP-DWC,31,14448,0101,7002,3,29
52932,N43,TP-DWC,30,13578,0101,4052,2,01
52933,N43,TZ-CHO3,1,0,0304,6048,3,05
52934,N43,TZ-CHO3,2,10120,2002,R-13,6,99

In [113]:
conn = connect()
check_for_table(conn, 'Routes', routes.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in routes.iterrows():
    cursor.execute("INSERT INTO Routes (linia, kod, enroute_nr, odleglosc, ulica_id, nr_zespolu, typ, nr_przystanku) values(?,?,?,?,?,?,?,?)",
        (row['linia'], row['kod'], row['enroute_nr'], row['odleglosc'], row['ulica_id'], row.nr_zespolu, row.typ, row.nr_przystanku))
conn.commit()
cursor.close()
conn.close()

CREATE TABLE Routes (linia varchar(255),
kod varchar(255),
enroute_nr varchar(255),
odleglosc varchar(255),
ulica_id varchar(255),
nr_zespolu varchar(255),
typ varchar(255),
nr_przystanku varchar(255))
Table Routes created successfully.

In [114]:
# pozycje przystanków autobusowych
url = f'https://api.um.warszawa.pl/api/action/dbstore_get?id=ab75c33d-3a26-4342-b36a-6e5fef0a3ac3&apikey={apikey}'

response = requests.get(url)
if response.status_code == 200:
    print('ok')
    # Odpowiedź jest udana, można przetwarzać dane
    data = response.json()  # Jeśli odpowiedź jest w formacie JSON

dictionaries = []
for i in range(len(data['result'])):
    dictionary = {}
    for j in range(len(data['result'][i]['values'])):
        # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
        c = data['result'][i]['values'][j]['key']
        v = data['result'][i]['values'][j]['value']
        dictionary[c] = v
    dictionaries.append(dictionary)
stops = pd.DataFrame(dictionaries)
stops

ok

,zespol,slupek,nazwa_zespolu,id_ulicy,szer_geo,dlug_geo,kierunek,obowiazuje_od
0,1001,01,Kijowska,2201,52.248455,21.044827,al.Zieleniecka,2023-01-02 00:00:00.0
1,1001,02,Kijowska,2201,52.249078,21.044443,Ząbkowska,2023-01-02 00:00:00.0
2,1001,03,Kijowska,2201,52.248928,21.044169,al.Zieleniecka,2023-01-02 00:00:00.0
3,1001,04,Kijowska,2201,52.249969,21.041588,Ząbkowska,2023-01-02 00:00:00.0
4,1001,05,Kijowska,1203,52.250319,21.043861,al.Zieleniecka,2023-01-02 00:00:00.0
...,...,...,...,...,...,...,...,...
7992,R-11,99,ZEA KLESZCZOWA,1221,52.196605,20.922746,ZEA KLESZCZOWA,2023-01-02 00:00:00.0
7993,R-13,00,ZEA STALOWA,2002,52.263590,21.047868,Stalowa,2023-01-02 00:00:00.0
7994,R-13,99,ZEA STALOWA,2002,52.263631,21.047922,ZEA STALOWA,2023-01-02 00:00:00.0
7995,R-19,00,WYDZIAŁ WŁOŚCIAŃSKA,2575,52.271236,20.968586,Włościańska,2023-01-02 00:00:00.0
7996,R-19,99,WYDZIAŁ WŁOŚCIAŃSKA,2575,52.271236,20.968496,WYDZIAŁ WŁOŚCIAŃSKA,2023-01-02 00:00:00.0

In [117]:
conn = connect()
check_for_table(conn, 'Stops', stops.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in stops.iterrows():
    cursor.execute("INSERT INTO Stops (zespol, slupek,	nazwa_zespolu,	id_ulicy,	szer_geo,	dlug_geo,	kierunek,	obowiazuje_od) values(?,?,?,?,?,?,?,?)",
        (row['zespol'],	row['slupek'],	row['nazwa_zespolu'],	row['id_ulicy'],	row['szer_geo'],	row['dlug_geo'],	row['kierunek'],	row['obowiazuje_od']))
conn.commit()
cursor.close()
conn.close()

In [118]:
# słownik
url = f"https://api.um.warszawa.pl/api/action/public_transport_dictionary/?apikey={apikey}"
dfs = []
response = requests.get(url)
if response.status_code == 200:
    # Odpowiedź jest udana, można przetwarzać dane
    data = response.json()  # Jeśli odpowiedź jest w formacie JSON
    dictionaries = []
    for key in data['result'].keys():
        # print(data['result'][i]['values'][j]['key'], data['result'][i]['values'][j]['value'])
        for c, v in data['result'][key].items():
            dictionary = {}
            dictionary['type'] = key
            dictionary['value'] = v
            dictionary['id'] = c
            dictionaries.append(dictionary)
    
dictionary = pd.DataFrame(dictionaries)
dictionary

         type            value    id
0       ulice          Gerbera  0835
1       ulice   Gąsiorowskiego  0834
2       ulice          Gromali  0837
3       ulice      Głowackiego  0836
4       ulice    Galla Anonima  0831
...       ...              ...   ...
1821  miejsca   NOWY DZIEKANÓW    NÓ
1822  miejsca      ALEKSANDRÓW    AL
1823  miejsca        ANTONINÓW    AN
1824  miejsca       AUGUSTÓWEK    AU
1825  miejsca  CZĄSTKÓW POLSKI    CĄ

[1826 rows x 3 columns]

In [119]:
conn = connect()
check_for_table(conn, 'Dict', dictionary.columns)
cursor = conn.cursor()
# Insert Dataframe into SQL Server:
for index, row in dictionary.iterrows():
    cursor.execute("INSERT INTO Dict (type, value, id) values(?,?,?)",
        (row.type, row.value, row.id))
conn.commit()
cursor.close()
conn.close()

CREATE TABLE Dict (type varchar(255),
value varchar(255),
id varchar(255))
Table Dict created successfully.

 currentposition  
 dictionary  
 routes  
 schedule
 stopcode  
 stopinfo  
 stops

# zabawa danymi

In [121]:
schedule.merge(routes, left_on = 'trasa', right_on = 'kod', how = 'inner')

,zespol,slupek,linia_x,symbol_2,symbol_1,brygada,kierunek,trasa,czas,linia_y,kod,enroute_nr,odleglosc,ulica_id,nr_zespolu,typ,nr_przystanku
0,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00,154,TP-RZS,20,9046,2028,4043,1,05
1,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00,154,TP-RZS,21,9714,0101,4044,4,02
2,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00,154,TP-RZS,22,10198,0101,4045,7,71
3,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00,154,TP-RZS,1,0,0112,4015,3,09
4,4009,01,154,null,null,1,rondo Zesłańców Syberyjskich,TP-RZS,04:27:00,154,TP-RZS,3,1434,2013,4012,2,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96301469,6061,05,17,null,t,22,Tarchomin Kościelny,TD-4TAK,06:54:00,2,TD-4TAK,4,2740,1992,1122,1,04
96301470,6061,05,17,null,t,22,Tarchomin Kościelny,TD-4TAK,06:54:00,2,TD-4TAK,7,4225,2108,1277,1,06
96301471,6061,05,17,null,t,22,Tarchomin Kościelny,TD-4TAK,06:54:00,2,TD-4TAK,6,3569,2108,1256,1,06
96301472,6061,05,17,null,t,22,Tarchomin Kościelny,TD-4TAK,06:54:00,2,TD-4TAK,9,5135,2108,1507,4,02
96301473,6061,05,17,null,t,22,Tarchomin Kościelny,TD-4TAK,06:54:00,2,TD-4TAK,8,4935,2108,1195,1,06

In [ ]:
tmp.loc[ ( tmp['linia'] == '1')  & (tmp['kod'] == 'TD-4AN03')]

,linia,kod,nr przystanku na trasie,odleglosc,ulica_id,nr_zespolu,typ,nr_przystanku
42810,1,TD-4AN03,24,10877,1701,1077,1,04
42811,1,TD-4AN03,25,11478,1701,1078,1,04
42812,1,TD-4AN03,26,12009,1701,1079,1,04
42813,1,TD-4AN03,27,12417,1567,1080,1,04
42814,1,TD-4AN03,20,8963,1532,1164,1,04
42815,1,TD-4AN03,21,9442,2001,1006,1,04
42816,1,TD-4AN03,22,9660,2001,1006,1,08
42817,1,TD-4AN03,23,10310,2001,1075,1,04
42818,1,TD-4AN03,28,13194,1901,1082,1,02
42819,1,TD-4AN03,29,13537,1901,1083,1,04
42820,1,TD-4AN03,1,0,1803,R-04,6,00
42821,1,TD-4AN03,3,984,1505,6014,1,03
42822,1,TD-4AN03,2,154,1803,6061,5,05
42823,1,TD-4AN03,5,2007,1505,6011,1,03
42824,1,TD-4AN03,4,1424,1505,6013,1,03
42825,1,TD-4AN03,7,2869,1505,6008,1,03
42826,1,TD-4AN03,6,2359,1505,6010,1,03
42827,1,TD-4AN03,9,3863,1505,6006,1,05
42828,1,TD-4AN03,8,3245,1505,6007,1,03
42829,1,TD-4AN03,11,4650,2004,6005,1,03
42830,1,TD-4AN03,10,4186,2004,6075,1,03
42831,1,TD-4AN03,13,5749,0025,6039,1,03
42832,1,TD-4AN03,12,5273,2003,6094,1,03
42833,1,TD-4AN03,15,6791,0203,7091,1,07
42834,1,TD-4AN03,14,6595,0110,7091,1,09
42835,1,TD-4AN03,17,7594,0203,7019,1,07
42836,1,TD-4AN03,16,7116,0203,7081,1,03
42837,1,TD-4AN03,19,8520,1532,7055,1,03
42838,1,TD-4AN03,18,8143,0203,7054,1,05
42839,1,TD-4AN03,31,14146,1901,1085,1,02
42840,1,TD-4AN03,30,13759,1901,1084,1,02
42841,1,TD-4AN03,33,15070,0104,1087,3,03
42842,1,TD-4AN03,32,14605,1901,1086,1,04

# google API

In [29]:
destination = "52.1968,20.9209"
origin = "52.248455,21.044827"
url = "https://maps.googleapis.com/maps/api/distancematrix/json" + f"?destinations={destination}" +  f"&origins={origin}" + f"&key={GOOGLE_KEY}"
response = requests.get(url)
if response.status_code == 200:
    print('ok')
    # Odpowiedź jest udana, można przetwarzać dane
    data = response.json()  # Jeśli odpowiedź jest w formacie JSON

ok

In [30]:
for key, val in data.items():
    print(key, val)

destination_addresses ['Przerwana 2, 02-484 Warszawa, Poland']
origin_addresses ['Targowa 7, 03-727 Warszawa, Poland']
rows [{'elements': [{'distance': {'text': '11.7 km', 'value': 11740}, 'duration': {'text': '22 mins', 'value': 1342}, 'status': 'OK'}]}]
status OK